:root {
    --black-color: #333;
    --white-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-padding-top: 80px;
}

#app {
    padding-bottom: 35px;
}